.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.add-book{
    padding: 20px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    text-align: center;
    background-color: rgba(128, 61, 190, 0.801);
}
.add-book h2 {
    color:  #462758;
    margin-bottom: 20px;
}
.add-book input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    border-radius: 5px;
    outline: none;
  }
  .add-book button {
    font-weight: bold;
    padding: 10px 15px;
    background-color: #522d68;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-book button:hover{
    background-color: #522d68b2;
  }