.book-list{
    padding: 40px;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .book-list h1{
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  .book-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .book-card{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  .book-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .book-card h3{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #333;
  }
  .book-card p{
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  .book-actions{
    display: flex;
    justify-content: space-between;
  }
  .book-actions button{
    padding: 7px ;
    border-radius: 5px;
    border: none;
    background-color: #2d7a3c;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .book-actions button:hover{
    background-color: #2d8b37;
  }
  .book-actions button.delete{
    background-color: #cc5047;
  }
  .book-actions button.update{
    background-color: rgb(26, 26, 131);
  }
  .book-actions button.update:hover{
    background-color: rgb(52, 52, 196);
  }
  .book-actions button.delete:hover{
    background-color: #df201c;
  }
  .book-actions button:focus{
    outline: none;
  }
  
  
  @media (max-width: 688px){
    .book-list{
      padding: 20px;
    }
    .book-container{
      grid-template-columns: 1fr 1fr;
    }
    .book-card{
      padding: 15px;
      margin: 10px;
    }
    .book-actions button{
      font-size: 0.9rem;
      padding: 8px 12px;
    }
    .book-list h1{
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .book-list {
      padding: 15px;
    }
  
    .book-container {
      grid-template-columns: 1fr; 
    }
  
    .book-card {
      padding: 10px;
    }
  
    .book-actions button {
      font-size: 0.8rem;
      padding: 6px 10px;
    }
  
    .book-list h1 {
      font-size: 1.8rem; 
    }
  }
  