.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(184, 219, 231);
    height: 70px;
    padding: 8px;
}
nav .left-nav{
   display: flex;
   margin-left: 30px;
}
nav .left-nav .logo-name{
    line-height: 88px;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(15, 163, 163);
}
.navbar-links{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 35px;
    padding: 20px;
}
.navbar-links li{
    font-size: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: rgb(17, 153, 153);
    transition: color 0.3sec;
}
.navbar-links a:hover{
    color: rgb(26, 100, 100);
}
.toggle-button{
    display: none;
}

@media screen and (max-width: 688px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .navbar .toggle-button{
        flex-direction: column;
        align-items: flex-start;
    }
    nav .left-nav {
        margin-left: 0;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .navbar-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 5px 0;
        text-align: center;
    }

    .navbar-links li {
        font-size: 18px;
        padding: 10px 0;
    }
    .navbar .toggle-button {
        display: block;
        background-color: rgb(15, 163, 163);
        color: white;
        font-size: 18px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .navbar-links.show {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .navbar .left-nav .logo-name {
        font-size: 18px;
    }

    .navbar-links li {
        font-size: 16px;
    }
}